<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Books and Authors</title>
    </head>
    <body>
        <section id="grid">
            <div id="box1">
                <h1>Add an Author</h1>
                <form action="/add-author-name" method="POST" id="add_book">
                    {% csrf_token %}
                    <div class="field_boxes">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" class="input_boxes">
                    </div>
                    <div class="field_boxes">
                        <label for="last_name">Last Name</label>
                        <textarea name="last_name" class="input_boxes" cols="21" rows="3"></textarea>
                    </div>
                    <button type="submit" id="add_button">Add</button>
                </form>
            </div>
            <div id="box2">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    {% for author in all_authors %}
                        <tr>
                            <td>{{author.id}}</td>
                            <td>{{author.first_name}}</td>
                            <td>{{author.last_name}}</td>
                            <!-- <td><a href="/books-view/{{book.id}}">View</a></td> -->
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </body>
</html>